---
layout: default
---

<div class="container">
    <div class="galery">
        <ul class="galery-image">
            {% for image in site.static_files | where: "image", true %}
            {% if image.path contains 'azure-icons' %}
            {% if image.extname == 'jpg' %}
            <li>
                <a href="{{ site.url }}{{ image.path }}">
                    <img src="{{ site.url }}{{ image.path }}" alt="{{ image.name }}" />
                </a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
